body, a {
    color:gray;
}
h1 {
    font-size: 30px;
    text-align: center;
    font-family: serif;
}
p{
    text-align: justify;
    text-decoration: underline wavy;
    text-transform: capitalize;
    text-indent: 3rem;
    letter-spacing: 2px;
    line-height: 1.5;
    word-spacing: 5px;
    white-space: : normal;

}