body {
    background: hsl(0, 69%, 70%) url("png") repeat fixed;
    background-size: 50px;
}
p {
    background-color: rgba(0, 0, 255);
    color: whitesmoke;
    border-color: black;
    border-width: 3px;
    border-style: solid dotted;
    border-radius: 10px;
}
#p1 {
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    outline-offset: 6px;
    outline: 3px solid black;

}